.card__delete {
    width: 18px;
    height: 19.3px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: start;
    justify-self: end;
    margin-top: 18px;
    margin-right: 15px;
    padding: 0;
    border: none;
    background: url(../../../images/delete_icon.svg);
    cursor: pointer;
    z-index: 0;
}

.card__delete:hover {
    opacity: .5;
    transition: .8s ease;
}