.popup__inputs {
    display: flex;
    flex-direction: column;
    border: 0;
    max-width: 238px;
    margin: 0 22px 25px 22px;
    gap: 30px;
    padding: 0;
}

@media screen and (min-width: 900px) {
    .popup__inputs {
        max-width: 358px;
        margin: 0 36px 37px 36px;
    } 
}